In [32]:
import pandas as pd
import numpy as np

In [33]:
df = pd.DataFrame()

In [34]:
df["model"] = ["Linear", "Linear PCA", "Reg Tree"]

In [35]:
df["cross_validation"] = [0.34104294576737526, 0.3354759483754492, 0.3426585939047076]

In [36]:
df["mean_absolute_error"] = [552.4794784547347, 554.1934185372118, 545.207666120904]

In [37]:
df["mean_squared_error"] = [633169.7175292864, 640737.6566513547, 617449.4309227142]

In [38]:
df["r2_score"] = [0.3504290146939656, 0.34266503998677245, 0.3665565106521912]

In [39]:
df.head()

,model,cross_validation,mean_absolute_error,mean_squared_error,r2_score
0,Linear,0.341043,552.479478,633169.717529,0.350429
1,Linear PCA,0.335476,554.193419,640737.656651,0.342665
2,Reg Tree,0.342659,545.207666,617449.430923,0.366557

In [40]:
df2 = pd.DataFrame()

In [41]:
df2["model"] = ["Linear", "Linear PCA", "Reg Tree"]

In [42]:
df2["cross_validation"] = [0.35247901016310584, -0.00034121536823039644, 0.3498771656920899]

In [43]:
df2["mean_absolute_error"] = [533.3741841686967, 734.6781491924623, 537.5046901700455]

In [44]:
df2["mean_squared_error"] = [596748.7977054978, 942389.485253139, 602447.4540681255]

In [45]:
df2["r2_score"] = [0.36526210197491116, 0.00880474501194295, 0.3592006684620336]

In [46]:
df2.head()

,model,cross_validation,mean_absolute_error,mean_squared_error,r2_score
0,Linear,0.352479,533.374184,596748.797705,0.365262
1,Linear PCA,-0.000341,734.678149,942389.485253,0.008805
2,Reg Tree,0.349877,537.504690,602447.454068,0.359201