In [75]:
import pandas as pd
import seaborn as sns
import missingno as msno
import matplotlib.pyplot as plt
import numpy as np

In [76]:
train = pd.read_pickle("clean-data/train.pkl")
train.head()

   rider_id  no_of_orders   age  average_rating  no_of_ratings
0       396          2946  2298            14.0           1159
1       479           360   951            13.5            176
2       648          1746   821            14.3            466
3       753           314   980            12.5             75
4       335           536  1113            13.7            156

In [96]:
train_pca = pd.read_pickle("clean-data/train-pca.pkl")
train_pca.head()

,PC1,PC2,PC3,PC4,PC5,platform1,platform2,platform3,personal,pickup_to_arrival_time
0,0.472099,0.285506,-0.033793,0.810380,0.545310,0,0,1,0,745
1,0.615003,1.449903,-0.830790,-0.624730,-0.179848,0,0,1,1,2886
2,0.541725,-0.419250,1.032754,0.138130,-0.276203,0,0,1,0,2615
3,0.624171,0.727645,-1.913193,1.621534,1.160295,0,0,1,1,2986
4,0.543465,-0.740574,-0.506202,0.760192,0.914770,0,1,0,1,1602

In [90]:
from sklearn.linear_model import LinearRegression
pca_model = LinearRegression()
X = train_pcs.iloc[:,:-1]
pca_model.fit(X=X, y=train_pcs["pickup_to_arrival_time"])

LinearRegression()